<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui">
<h:head>
</h:head>
<h:body>
    <h:form>
        <b:commandButton oncomplete="PF('addDialog').show()" class="btn btn-primary"
                         process="@this" update=":addDialogForm" value="Добавить рецепт" actionListener="#{prescriptionsManagedBean.addPrescriptions}">

        </b:commandButton>
        <b:commandButton oncomplete="PF('filterDialog').show()" class="btn"
                         process="@this" update=":filterDialogForm" value="Фильтр">
        </b:commandButton>
        <b:commandButton actionListener="#{prescriptionsManagedBean.defaultPrescriptions}" class="btn btn-primary"
                        value="Без фильтра">
        </b:commandButton>
    </h:form>
    <h:form id="tableForm">
        <p:dataTable value="#{prescriptionsManagedBean.prescriptions}" var="prescription"
                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                     paginator="true" rows="10" style="margin-bottom:20px">
            <p:column>
                <f:facet name="header">ID врача:</f:facet>
                <h:outputText value=" #{prescription.idDoctor}"/>
            </p:column>
            <p:column>
                <f:facet name="header">ID пациента:</f:facet>
                <h:outputText value=" #{prescription.idPatient}"/>
            </p:column>
            <p:column>
                <f:facet name="header">Дата и время:</f:facet>
                <h:outputText value=" #{prescription.dateTime}"/>
            </p:column>
            <p:column>
                <f:facet name="header">Описание:</f:facet>
                <h:outputText value=" #{prescription.description}"/>
            </p:column>
            <p:column>
                <f:facet name="header">Приоритет:</f:facet>
                <h:outputText value=" #{prescription.priority}"/>
            </p:column>
            <p:column>
                <f:facet name="header">
                    <h:outputText value=" "/>
                </f:facet>
                <p:commandLink oncomplete="PF('editDialog').show()"
                               process="@this" update=":editDialogForm" value="Изменить">
                    <f:setPropertyActionListener value="#{prescription}"
                                                 target="#{prescriptionsManagedBean.current}" />
                </p:commandLink>
            </p:column>
            <p:column>
                <f:facet name="header">
                    <h:outputText value=" "/>
                </f:facet>
                <p:commandLink value="Удалить" action="#{prescriptionsManagedBean.removePrescriptions(prescription)}" process="@form" update="@form :tableForm"/>
            </p:column>
        </p:dataTable>
    </h:form>
    <p:dialog header="Изменение данных рецепта" widgetVar="editDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
        <h:form id="editDialogForm">
            <p:panelGrid columns="2">
                <h:outputLabel value="ID врача: " />
                <b:inputText value="#{prescriptionsManagedBean.current.idDoctor}" >
                    <f:validateDoubleRange minimum="0"/>
                </b:inputText>
                <h:outputLabel value="ID пациента: " />
                <b:inputText value="#{prescriptionsManagedBean.current.idPatient}" >
                    <f:validateDoubleRange minimum="0"/>
                </b:inputText>
                <h:outputLabel value="Дата и время: " />
                <h:outputText value=" #{prescriptionsManagedBean.current.dateTime}"/>
                <h:outputLabel value="Описание: " />
                <b:inputText value="#{prescriptionsManagedBean.current.description}" required="true" />
                <h:outputLabel value="Приоритет: " />
                <p:selectOneButton value="#{prescriptionsManagedBean.current.priority}" required="true">
                    <f:selectItem itemLabel="Нормальный" itemValue="normal" />
                    <f:selectItem itemLabel="Срочный" itemValue="cito" />
                    <f:selectItem itemLabel="Немедленный" itemValue="statim" />
                </p:selectOneButton>
                <f:facet name="footer">
                    <b:commandButton value="Отменить" class="btn btn-secondary" onsuccess="PF('editDialog').hide()"/>
                    <b:commandButton value="Сохранить" action="#{prescriptionsManagedBean.acceptEditPrescriptions}" class="btn btn-primary float-right"
                                     process="@form" update="@form :tableForm" />
                </f:facet>
            </p:panelGrid>
        </h:form>
    </p:dialog>
    <p:dialog header="Добавление нового рецепта" widgetVar="addDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
        <h:form id="addDialogForm">
            <p:panelGrid columns="2">
                <h:outputLabel value="ID врача: " />
                <b:inputText value="#{prescriptionsManagedBean.current.idDoctor}" >
                    <f:validateDoubleRange minimum="0"/>
                </b:inputText>
                <h:outputLabel value="ID пациента: " />
                <b:inputText value="#{prescriptionsManagedBean.current.idPatient}" required="true">
                    <f:validateDoubleRange minimum="0"/>
                </b:inputText>
                <h:outputLabel value="Описание: " />
                <b:inputText value="#{prescriptionsManagedBean.current.description}" required="true"/>
                <h:outputLabel value="Приоритет: " />
                <p:selectOneButton value="#{prescriptionsManagedBean.current.priority}" required="true">
                    <f:selectItem itemLabel="Нормальный" itemValue="normal" />
                    <f:selectItem itemLabel="Срочный" itemValue="cito" />
                    <f:selectItem itemLabel="Немедленный" itemValue="statim" />
                </p:selectOneButton>
                <f:facet name="footer">
                    <b:commandButton value="Отменить" class="btn btn-secondary" onsuccess="PF('addDialog').hide()"/>
                    <b:commandButton value="Добавить" action="#{prescriptionsManagedBean.acceptAddPrescriptions}" class="btn btn-primary float-right"
                                     process="@form" update="@form :tableForm" validateClient="true"/>
                </f:facet>
            </p:panelGrid>
        </h:form>
    </p:dialog>
    <p:dialog header="Фильтр" widgetVar="filterDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
        <h:form id="filterDialogForm">
            <p:panelGrid columns="2">
                <h:outputLabel value="ID врача: " />
                <b:inputText value="#{prescriptionsManagedBean.search.idDoctor}" />
                <h:outputLabel value="ID пациента: " />
                <b:inputText value="#{prescriptionsManagedBean.search.idPatient}" />
                <h:outputLabel value="Дата: " />
                <p:calendar value="#{prescriptionsManagedBean.search.dateTime}"  pattern="yyyy-MM-dd" mask="true">
                    <f:converter converterId="localDateTimeConverter" />
                </p:calendar>
                <h:outputLabel value="Описание: " />
                <b:inputText value="#{prescriptionsManagedBean.search.description}"/>
                <h:outputLabel value="Приоритет: " />
                <p:selectOneButton value="#{prescriptionsManagedBean.search.priority}">
                    <f:selectItem itemLabel="Нормальный" itemValue="normal" />
                    <f:selectItem itemLabel="Срочный" itemValue="cito" />
                    <f:selectItem itemLabel="Немедленный" itemValue="statim" />
                </p:selectOneButton>
                <f:facet name="footer">
                    <b:commandButton value="Применить" action="#{prescriptionsManagedBean.searchPrescriptions}" class="btn btn-primary float-right"
                                     process="@form" update="@form :tableForm"  onsuccess="PF('filterDialog').hide()"/>
                </f:facet>
            </p:panelGrid>
        </h:form>
    </p:dialog>
    <h:form>
        <b:commandButton value="Врачи" action="#{prescriptionsManagedBean.goToDoctors}" class="navbar-btn btn-danger btn"/>
        <b:commandButton value="Пациенты" action="#{prescriptionsManagedBean.goToPatients()}" class="navbar-btn btn-danger btn"/>
    </h:form>
</h:body>
</html>
